h1 {
  display: flex;
  justify-content: center;
}

.AYAYA {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.imagespace {
  display: flex;
  justify-content: center;
}

img {
  object-fit: cover;
  max-width: 100%;
}